/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* GLOBAL TAG STYLES */
header {
    display: flex;
}

#container {
    width: 1200px;
    margin: 0 auto;
    background-color:beige;
}

nav, ul {
    list-style: none;
}

#main {
    background-color:rgb(223, 217, 211);
}

#main2 {
    background-color:rgb(255, 255, 255);
}

/* CUSTOM GLOBAL STYLES */
.flex {
    display: flex;
}

/* ширина */
.w-full {
    width: 100%;
}

.w-20 {
    width: 70%;
    display: block;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

/* высота */
.h-50 {
    height: 50px;
}

/* тут пишем отступы */
.ml-5 {
    margin-left: 15px;
}

/* цвета */
.back-blue {
    background-color: rgb(143, 246, 246);
}

.text-red {
    color: red;
}

.text-blue {
    color: rgb(79, 79, 209);
}

.text-olive {
    color: olive;
}

.blue {
    color: rgb(57, 127, 181);
}

/*  second navigation */
#topbar {
	display: flex;
	background: #3B5D80;
}

#topbar > li {
    width: 10%;
    padding: 10px 0;
    position: relative;
    text-align: center;
}

#topbar > li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;  
}

#topbar > li:hover {
	background: #304963;
}

.drop {
    width: 100%;
    background-color:#ccc;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.drop > li {
    padding: 10px 0;
}

.drop > li:hover {
    background-color: rgb(96, 131, 197);
    cursor: pointer;
}


.logotype {
    width: 25%;
}

.menu {
    width: 65%;
    text-align: center;
}

.auth {
    width: 10%;
}



.preview-screen {
    width: 100%;
    /* border: solid 1px black; */
}

.new-items {
    width: 100%;
    /* border: solid 1px black; */
}

.wdh-25 {
    width: 25%;
    background-color: rgb(214, 153, 153);
}

.book-galery > div > h3 {
  text-align: center;
  width: 100%;
  color: lightseagreen;
}


.p-in-bg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: rgb(117, 75, 140);
}



/* Самостоятельная работа 1 */
/* Внутри тега ниже воспроизвести (пока что примерно) всё содержимое со скриншота (он внутри pictures) */
/* ***************ТЕОРИЯ*************** */
/* TRANSITION */
/* Основная документация: 
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-property
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-duration
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-timing-function
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-delay

    Запись transition в одну строку => https://developer.mozilla.org/en-US/docs/Web/CSS/transition
*/

/* 
    linear - одна скорость
    ease-in - ускоряется
*/

/* for example transition */
.example {
    font-size: 14px;
    /* 
        1. что меняем,
        2. за какое время, если не указано =0
        3. задержка, если не указана =0
        4. временная функция перехода
    */
    transition: font-size 4s 2s easy-in-out;
}
  
.example:hover {
    font-size: 36px;
}


/*  TRANSFORM */
/* for example transform */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transforms/Using_CSS_transforms */
.trance-container {
    position: relative;
    height: 183px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.transformed-block-1 {
    transform: rotate(90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 0;
}

.transformed-block-2 {
    transform: rotate(270deg);
    transform-origin: bottom right;
    position: absolute;
    right: 0;
}

.transformed-block-3 {
    transform: rotate(180deg);
    transform-origin: top;
    position: absolute;
    top: 0;
}

.transformed-block-4 {
    transform: rotate(360deg);
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

/* ANIMATION */
/* 
    Основная документация:
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations

*/
@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 100%;
    }
  
    to {
        margin-left: -50%;
        width: 100%;
    }
}

.animation-example-1 {
    animation-duration: 5s;
    animation-name: slideIn;
    animation-iteration-count: infinite;
}


@keyframes slideInSingle {
    from {
        margin-top: 100%;
        width: 100%;
    }
  
    to {
        margin-top: 20%;
        width: 100%;
    }
}

.animation-example-2 {
    position: relative;
}

.animation-example-2 > div {
    margin-top: 20%;
    position: absolute;
    background-color: #14a16b;
    animation-duration: 3s;
    animation-name: slideInSingle;
    /* можно ставить цифру для количества повторов анимации */
    animation-iteration-count: 1;
    width: 100%;
    color: aqua;
    text-align: center;
    font-size: 30px;
}

.change-color-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-color {
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 3s linear;
}

.change-color:hover {
    color:rgb(186, 14, 249);
}

.p1 {
    animation-duration: 3s;
    animation-name: slidein;
    width: 50%;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }

      75%{
        font-size: 150%;
        margin-left: 25%;
        width: 150%;
      }
      
}

.square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
    text-align: center;
}

.square:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
    background-color: aqua;
}

.cl-tx {
    background-color: #fff700;
}

.big-practice-1 {
    width: 100%;
    background-color: #fff;
    display: flex;
}

.practice-1-main-content {
    width: 65%;
    padding: 5px;
}

.practice-1-main-content > h3 {
    margin-left: 15px;
    font-weight: bold;
}

.practice-1-main-content > .example-code {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 110px;
}

.example-code > p > span {
    margin-left: 1px;
    margin-right: 1px;
}

.test-2 {
    background-color: aquamarine;
    border-bottom: 1px solid rgb(9, 185, 118);
}

.test-3 {
    background-color: rgb(255, 255, 176);
    border-left: 5px solid rgb(179, 179, 32);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 5px;
}

.practice-1-navigation {
    width: 35%;
}

.navigation {
    float:right;
    background-color: rgb(193, 203, 203);
    padding: 10px;
    font-size: 15px;
}

.test-hover {
    font-weight: bold;
    padding-left: 4px;
}

.hooks {
    float:right;
}

.decoration {
    text-decoration: none;
    transition: color 0s linear;
    color: #525252;
}

.decoration:hover {
    color:black;
    border-left: 4px solid rgb(0, 187, 255);
    font-weight: bold;
    padding-left: 4px;
    position: relative;
}

.decoration-2:hover {
    border-left: 4px solid rgb(0, 187, 255);
    padding-left: 4px;
    position: relative;
}

.pad {
    padding-top: 25px;
}

.rounded-black {
    width: 30px;
    height: 30px;
    border-radius: 9999px;
}



/* Самостоятельная работа 2 */

.big-practice-2 {
    background-color:#e6f8ff;
    width: 80%;
    color: #272727;
    height: 834px;
}

.fatty-text {
    font-size: 30px;
}

.text-pd {
    padding-left:190px;
    font-size: 25px;
    padding-top: 15px;
}

.centre {
    padding-left: 170px;
    margin-top:-20px;
}

.text-1 {
    width: 25%;
}

.text-w {
    font-size: 18px;
    color: #000;
    font-weight:bold;
    margin-bottom:20px;
    line-height: 2.5;
}

.fn-w {
    font-weight: 600;
    color: #000;
}

.text-2 {
    left: 296px;
    position: relative;
    bottom: 228px;
    width: 25%;
}

.text-2-1 {
    font-size: 18px;
    font-weight:bold;
    color: #000;
    display: block;
    line-height: 2.5;
}

.color-text {
    color: #000;
    font-size: 18px;
}

.fn-sz-23 {
    font-size: 23px;
}

.l-h {
    line-height: 2.5;
}

.text-3 {
    bottom: 195px;
    position: relative;
    width: 40%;
    display: inline-block;
}

.text-3-1 {
    width: 60%;
    display: block
}

.panda {
    bottom: 170px;
    position: relative;
    background-color: rgb(210, 232, 255);
    width: 65%;
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 20px;
}

.pad-l-85 {
    padding-left: 85px;
}

.black {
    color: #000;
}

.bt-l {
    bottom: 102px;
    left: 289px ;
    position: relative;
}

.red-fw {
    color: red;
    font-weight: bold;
}

.w-37 {
    width: 32%;
    text-align: center;
    left: 24px;
    position: relative;
    bottom: 3px;
  }


.l {
    left: 368px ;
    position: relative;
    bottom: 39px;
    width: 28%;
    text-align: center;
}

.pd-l-20 {
    padding-left: 20px;
}

.w-252 {
    width: 252px;
}

.left-site {
    background-color: rgb(255, 255, 255);
    width: 20%;
}

.grass {
    width: 30%;
    height: 23px;
    bottom: 680px;
    left: 700px;
    position: relative;
    z-index: 1;
}

.grass-1 {
    width: 30%;
    height: 23px;
    bottom: 680px;
    left: 690px;
    position: relative;
    z-index: 1;
}

.grass-2 {
    width: 30%;
    height: 23px;
    bottom: 680px;
    left: 680px;
    position: relative;
    z-index: 1;
}

.grass-3 {
    width: 30%;
    height: 23px;
    bottom: 707px;
    left: 850px;
    position: relative;
    z-index: 1;
}

.panda-2 {
    width: 80%;
    bottom: 922px;
    position: relative;
    left: 780px;
  }

.grass-4 {
    width: 30%;
    height: 23px;
    bottom: 707px;
    left: 813px;
    position: relative;
    z-index: 1;
}

.grass-5 {
    width: 30%;
    height: 24px;
    bottom: 727px;
    left: 530px;
    position: relative;
}

.grass-6 {
    width: 30%;
    height: 24px;
    bottom: 734px;
    left: 650px;
    position: relative;
    z-index: 2;
}

.grass-7 {
    width: 30%;
    height: 24px;
    bottom: 734px;
    left: 569px;
    position: relative;
    z-index: 2;
}

.text-4 {
    width: 130px;
    background-color: rgb(255, 255, 255);
    bottom: 1079px;
    position: relative;
    left: 632px;
    margin-top: -23px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.fn-sz-18 {
    font-size: 18px; 
}

.fn-w-2 {
    font-weight: bold;
} 


.girl {
    width: 120px;
    bottom: 1037px;
    left: 650px;
    position: relative;
    margin-top: 40px;
}

.bt-l-2 {
    bottom: 1125px;
    left: 650px;
    position: relative;
}

.fn-sz-3 {
    font-size: 10px;
    z-index: 1;
}

.text-5 {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    width: 170px;
    bottom: 1156px;
    position: relative;
    left: 770px;
    padding-top: 0px;
    padding-bottom: 51px;
}

.photoshop {
    background-color: rgb(64, 64, 64);
    width: 267px;
    height: 180px;
    bottom: 1108px;
    position: relative;
    left: 674px;

}

.white {
    color: #ffffff;
}

.pd-l-4 {
    padding-left:20px;
}

.clr {
    color: #ccc;
    padding-left: 20px;
}

.photoshop-plagin {
    background-color: #a3a3a3;
    color: white;
    z-index: 2;
    width: 210px;
    height: 23px;
    position: relative;
    left: 28px;
    margin-top: 20px;
    text-align: center;
}

.create {
    background-color: rgb(210, 232, 255);
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 20px;
    bottom: 1072px;
    position: relative;
    left: 710px;
}

.color-text-girl {
    color: red;
    text-align: center;
}

.advertising {
    background-color: orange;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 140px;
    height: 18px;
    padding-top: 7px;
    border-radius: 5px 0px 5px 0px;
    bottom:  1416px;
    position: relative;
    left: 800px;
    font-size: 10px;
}

.w-20-1 {
    width: 20%;
}

.text-green {
    color: rgb(87, 240, 143);
}

.line {
    display: inline-block;
    width: 740px;
}

.indent {
    position: relative;
    left: 10px;
}

.bottom-indent-20 {
    bottom: 20px;
    position: relative;
}

.bottom-indent-30 {
    bottom: 30px;
    position: relative;
}

.bottom-indent-40 {
    bottom: 40px;
    position: relative;
}


.preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    font-size: 20px;
}



/* Самостоятельная работа 3 */

.big-practice-3-1 {
    color: rgb(102, 102, 102);
    background-color:white;
    width: 90%;
    padding-left:10px ;
}

.decoration-3 {
    text-decoration: underline ;
}

.font {
    font-family: monospace;
}

.white-black {
    color: rgb(86, 86, 86);
}

.create-table {
    background-color: #eeeeee;
    padding-left: 20px;
    width: 93%;
    border: 1px solid #dbdbdb;
    height: 130px;
    left: 20px;
    position: relative;
}

.white-blue {
    color: rgba(0, 187, 255, 0.723);
}

.pad-top {
    padding-top: 15px;
}

.pd-l {
    padding-left: 5px;
}

.bt-r {
    position: relative;
    top: 20px;
    right: 131px;
}

.pd-l-15 {
    padding-left: 15px;
}

.black-white {
    color: rgb(60, 60, 60); 
}

.bt-r-1 {
    position: relative;
    top: 37px;
    right: 141px;
}

.violet {
    color: rgb(155, 11, 180);
}

.bt-r-2 {
    position: relative;
    top: 37px;
    right: 141px;
}

.pink {
    color: rgb(164, 0, 87);
}

.black-blue {
    color: rgb(0, 99, 142);
}

.ts2 {
    position: relative;
    top: 57px;
    right: 449px;
}

.ts3 {
    position: relative;
    top: 74px;
    right: 723px;
}

.ts3-1 {
    position: relative;
    top: 74px;
    right: 723px;
}

.bt-l-3 {
    position: relative;
    top: 55px;
    left: 39px;
}

.bt-r-3 {
    position: relative;
    top: 75px;
    right: 402px;
}



.marker {
    list-style-type: disc;
}

.current-time {
    position: relative;
    left: 230px;
    bottom: 33px;
}

.l-b {
    position: relative;
    left: 360px;
    bottom: 68px;
}

.create-table-2 {
    background-color: #eeeeee;
    padding-left: 20px;
    width: 93%;
    border: 1px solid #dbdbdb;
    height: 35px;
    left: 20px;
    position: relative;
}

.m-r-25 {
    margin-right: 25px;
}

.create-table-3 {
    background-color: #eeeeee;
    padding-left: 20px;
    width: 93%;
    border: 1px solid #dbdbdb;
    height: 60px;
    left: 20px;
    position: relative;
}

.olive-green {
    color: rgb(93, 151, 36);
}

.pad-top-1 {
    position: relative;
    top: 23px;
    right: 549px;
}
.black-blue-1 {
    color: rgb(0, 99, 142); 
}

.insert-into {
    background-color: #eeeeee;
    padding-left: 20px;
    width: 93%;
    border: 1px solid #dbdbdb;
    height: 60px;
    left: 20px;
    position: relative;
}

.pd-top-10 {
    position: relative;
    top: 10px;
}

.pd-l-1 {
    position: relative;
    left: 5px;
}

.pd-r20 {
    position: relative;
    right: 0px;
}

.pad-top-2 {
    position: relative;
    top: 31px;
    right: 394px;
}

.red {
    color: red;
}

.time3 {
    position: relative;
    left: -724px;
    top: 72px;
}

.cur-time {
    position: relative;
    bottom: -55px;
    left: 264px;
}

.null3 {
    left: -723px;
    top: 73px;
    position: relative;
}

.default {
    left: -723px;
    top: 73px;
    position: relative;
}

.end1 {
    position: relative;
    top: 78px;
    right: 180px;
}

.but {
    width: 190px;
    height: 50px;
    background-color: white;
    border-radius: 9px;
    position: relative;
    bottom: 220px;
}

/* Самостоятельная работа 4 */

.big-practice-4 {
    padding-left: 25px;
    color: rgb(104, 104, 104);
    background-color: #fff;
    height: 265px;
    position: relative;
}

.w-25 {
    width: 25%;
}

.sourse-code {
    left: 360px;
    position: relative;
    bottom: 115px;
}

.blue-w {
    color: rgb(57, 127, 181);
    font-weight: bold;
}

.Sass {
    position: relative;
    bottom: 229px;
    left: 720px;
}

.but-2 {
    width: 175px;
    height: 50px;
    background-color: white;
    border-radius: 9px;
    position: relative;
    bottom: 220px;
    left: 165px;
}

.but-3 {
    width: 175px;
    height: 50px;
    background-color: white;
    border-radius: 9px;
    position: relative;
    bottom: 220px;
    left: 345px;
}


/* Самостоятельная работа 5 */

.big-practice-5 {
    padding-left: 25px;
    background-color: #fff;
    color: rgb(87, 87, 87);
}

.f-w {
    font-weight: normal;
}

.but-4 {
    width: 55px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    bottom: 15px;
}

.grey {
    color: rgb(87, 87, 87);
}

.current-3 {
    background-color: rgb(255, 191, 72);
    border-radius: 4px;
    position: relative;
    text-align: center;
    width: 90px;
    height: 18px;
    padding-top: 2px;
    padding-bottom: 5px;
    bottom: 40px;
    left: 63px;
}

.text-6 {
    bottom: 63px;
    left: 164px;
    padding-left: 5px;
    font-size: 14px;
    position: relative;
}

.bot-50 {
    bottom: 50px;
    position: relative;
}

.table1 {
    border-radius:  4px;
    border: .0625rem solid #cbd2d6;
    width: 87%;
    height: 380px;
    display: inline-block;
}

.br {
    height: 40px;
    padding-left: 15px;
    width: 1002px;
    display: inline-block;
    padding-top: 10px;
    background-color: rgb(232, 232, 232);
}

.wand {
    color: grey;
    position: relative;
    left: 340px;
    bottom: 276px;
}

.desc {
    left: 280px;
    position: relative;
    top: 3px;
}

.dec-none {
    text-decoration: none;
}

.text-7 {
    position: relative;
    padding-left: 156px;
    top: 20px;
}

.bord-rad {
    border-radius: 5px;
    border: 1px;
}

.text-9 {
    position: relative;
    top: 50px;
    padding-left: 10px;
    right: 630px;
}

.text-8 {
    position: relative;
    right: 540px;
    bottom: 258px;
}

.pd-l20 {
    padding-left: 20px;
    top: 19px;
    position: relative;
}

.ds-in-bl {
    display: inline-block;
}

.text-10 {
    position: relative;
    top: 30px;
}

.text-11 {
    position: relative;
    left: 400px;
    top: 30px;
}

.text-12 {
    top: 100px;
    position: relative;
    right: 590px;
}

.text-13 {
    position: relative;
    top: 80px;
    display: inline-block;
    width: 610px;
    left: 400px;
}

.text-14 {
    position: relative;
    top: 130px;
    right: 590px;
}

.text-15 {
    top: 110px;
    position: relative;
    left: 399px;
    width: 590px;
    display: inline-block;
}

.text-16 {
    position: relative;
    top: 170px;
    right: 570px;
}

.text-17 {
    position: relative;
    left: 400px;
    display: inline-block;
    top: 150px;
}


.my-table {
    width: 100%;
    border: 2px solid rgb(139, 137, 137);
    padding: 5px;
    border-radius: 5px;
    height: 340px;
}

.my-table > thead > tr > th:first-child {
    width: 35%;
    text-align: left;
    bottom: 5px;
    position: relative;
}

.my-table > thead > tr > th:last-child {
    width: 65%;
    border-left: 2px solid rgb(146, 142, 142);
    text-align: left;
    padding-left: 10px;
    height: 30px;
    bottom: 5px;
    position: relative;
}


.hei-32 {
    height: 32px;
}

.bt-100 {
    bottom: 100px;
    position: relative;
}


.pd-t-10 {
    padding-left: 10px;
}

.text-39 {
    display: block;
    width: 770%;
    right: 631px;
    position: relative
}

.big-practice-6 {
    width: 65%;
    color: rgb(51, 51, 51);
    background-color: #ffffff;
    padding-left: 30px;
    height: 645px;
}

.fn-sz-30 {
    font-size: 30px;
}

.w-450 {
    width: 450px;
    display: inline-block;
}

.dsbl {
    display: block;
}

.pd-t {
    padding-top: 35px;
}

.br-4 {
    width: 65%;
    border-bottom: 1px solid rgb(146, 142, 142);
    text-align: left;
    padding-left: 10px;
}

.fn-w-bl {
    font-weight: bold;
}

.w-210 {
    width: 210px;
    display: block;
}

.mongodb-use {
    background-color: #f5f5f5;
    width: 67%;
    height: 45px;
    overflow: scroll;
}

.use > div {
    position: relative;
    left: 20px;
    bottom: 12px;
}

.lh-0 {
    line-height: 0;
}

.pd-30 {
    padding-top: 30px;
}

.pd-t-20 {
    padding-top: 20px;
}

.Search {
    background-color: #ffffff;
    border: 2px solid #d5d5d5;
    color: rgb(113, 113, 113);
    position: relative;
    left: 847px;
    width: 269px;
    bottom: 570px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.management-mongodb {
    width: 30%;
    background-color: #c6cfd8;
    position: relative;
    left: 850px;
    bottom: 545px;
    border-left: 3.5px solid orange;
    border-right: 3.5px solid orange;
    border-top: 3.5px solid orange;
    height: 550.5px;
}

.management-1 {
    padding-top: 20px;
    position: relative;
    right: 16px;
    font-size: 19px;
}

.ds-flex {
    display: flex;
}

.text-18 {
    position: relative;
    right: 16px;
    top: 20px;
    color: rgb(68, 68, 68);
}

.text-19 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 25px;
}

.text-20 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 28px;
}

.management-2 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 32px;
}

.management-3 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 36px;
}

.management-4 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 40px;
}

.management-5 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 44px;
}

.management-6 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 48px;
}

.management-7 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 52px;
}

.management-8 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 56px;
}

.management-9 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 60px;
}

.management-10 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 64px;
}

.management-11 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 68px;
}

.management-12 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 72px;
}

.management-13 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 76px;
}

.management-14 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 80px;
}

.management-15 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 84px;
}

.management-16 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 88px;
}

.management-17 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 92px;
}

.management-18 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 96px;
}

.management-19 {
    position: relative;
    right: 16px;
    color: rgb(68, 68, 68);
    top: 100px;
}

/* Самастоятельная робота 7 */

.big-practice-7 {
    width: 80%;
    height: 600px;
    color: rgb(73, 73, 73);
    padding-left: 30px;
}

.install-themes-1 {
    background-color: rgb(236, 236, 236);
    border-radius: 18px;
    width: 110px;
    height: 28px;
    text-align: center;
    padding-top: 7px;
    color: #0070ff;
    position: relative;
    left: 80px;
    bottom: 24px;
  }

  .install-themes-2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
  }

.example-install-themes {
    background-color: #282828;
    height: 120px;
    border-radius: 6px;
    padding-left: 10px;
  }

.text-21 {
    color: #747f9a;
    position: relative;
    top: 10px;
    left: 10px;
  }

.pink1 {
    color: rgb(209, 49, 204);
    top: 31px;
    position: relative;
    right: 110px;
}

.red1 {
    color: rgb(255, 0, 0);
    top: 31px;
    position: relative;
    right: 110px;
}

.orange1 {
    color: rgb(255, 140, 0);
    top: 31px;
    position: relative;
    right: 110px;
}

.text-22 {
    color: #747f9a;
    position: relative;
    top: 30px;
    left: 10px;
  }

.pink2 {
    position: relative;
    top: 50px;
    color: rgb(209, 49, 204);
    right: 132px;
  }

.red2 {
    color: rgb(255, 0, 0);
    top: 50px;
    position: relative;
    right: 132px;
  }

.orange2 {
    color: rgb(255, 140, 0);
    top: 50px;
    position: relative;
    right: 132px;
  }

.pensil {
    width: 4%;
    top: 40px;
    position: relative;
  }

.text-23 {
    color: #0070ff;
    position: relative;
    top: 53px;
    right: 40px;
  }

.previous {
    font-weight: bold;
    border-radius: 4px;
    width: 500px;
    position: relative;
    top: 100px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    height: 70px;
  }

.previous2 {
    padding-left: 10px;
    padding-top: 10px;
}

.text-24 {
    color: #0070ff;
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
  }

.previous3 {
    font-weight: bold;
    border-radius: 4px;
    width: 500px;
    position: relative;
    top: 28px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    height: 70px;
    left: 530px;
  }

.next {
    padding-left: 440px;
    padding-top: 10px;
}

.text-25 {
    color: #0070ff;
    position: relative;
    padding-left: 355px;
    padding-top: 5px;
}

/* Самостоятельная робота 8 */

.big-practice-8 {
    color: rgb(73, 73, 73);
    width: 80%;
    height: 840px;
}

.db-migrate {
    overflow: scroll;
    height: 800px;
    width: 25%;
}

.db-migrate2 {
    background-color: #1c61aa;
    width: 100%;
    height: 70px;
}

.house {
    border-radius: 287px;
    width: 25px;
    padding-left: 32px;
}

.text-26 {
    color: #ffffff;
    padding-bottom: 512px;
    padding-left: 60px;
    position: relative;
    bottom: 24px;
}

.text-27 {
    color: #ffffff;
    padding-left: 82px;
    position: relative;
    bottom: 42px;
  }

.Search2 {
    background-color: white;
    width: 190px;
    padding-right: 3px;
    position: relative;
    right: 21px;
    border-radius: 10px;
    padding-left: 11px;
    bottom: 28px;
}

.search-through {
    background-color: rgb(53, 53, 53);
    height: 250px;
    padding-left: 15px;
    padding-top: 15px;
}

.cl-grey {
    color: #808080;
}

.cl-greywhite {
    color: rgb(179, 179, 179);
}

.pd-t-5 {
    padding-top: 5px;
}

.pd-l-10 {
    padding-left: 10px;
}

.sql-api {
    background-color: #ffffff;
    padding-left: 25px;
    font-weight: bold;
    height: 23px;
    padding-top: 4px;
}

.bac-grey {
    background-color: #d4d4d4;
}

.sql-api2 {
    height: 470px;
}

.cl-gr-wh {
    color: #707070;
    padding-left: 30px;
}

.pd-t-15 {
    padding-top: 15px;
}

.git-hub {
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    width: 240px;
    height: 40px;
}

.git-hub-2 {
    position: relative;
    top: 10px;
    left: 10px;
} 

.previous4 {
    position: relative;
    left: 100px;
    bottom: 8px;
}

.next2 {
    position: relative;
    left: 180px;
    bottom: 26px;
}

.docs {
    width: 80%;
    padding-left: 280px;
    margin-bottom: 100px;
    position: relative;
    bottom: 840px;
}

.blue1 {
    color: #7474ff;
}

.text-28 {
    position: relative;
    left: 45px;
    bottom: 18px;
}

.edit {
    position: relative;
    left: 460px;
    bottom: 34px;
    color: #7474ff;
}

.br-4-1 {
    width: 72%;
    border-bottom: 1px solid rgb(209, 209, 209);
    text-align: left;
    padding-left: 10px;
}

.migrations-api-sql {
    width: 80%;
    padding-left: 280px;
    margin-bottom: 300px;
    position: relative;
    bottom: 912px;
}

.text-29 {
    font-weight: 600;
}

.r-19 {
    position: relative;
    right: 19px;
}

.examples3 {
    background-color: #f0f0f0;
    width: 570px;
    height: 262px;
    font-size: 13px;
    border: 2px solid #d4d4d4;
}

.pl-6 {
    padding-left: 6px;
}

.cl-grey1 {
    color: #ababab;
    font-style: italic;
}

.text-30 {
    padding-left: 15px;
}

.text-31 {
    padding-left: 31px;
}

.aqua {
    color: #45bdcf;
}

.text-32 {
    padding-left: 47px;
}

.text-33 {
    color: #000;
    font-size: 18px;
}

.pd-t-30  {
    padding-top: 30px;
}

.pd-t-8 {
    padding-top: 8px;
}

.td-1-320w {
    width: 288%;
    display: block;
    top: 30px;
    position: relative;
}

.pd-l-140 {
    padding-left: 140px;
}

.text-34 {
    border-top: 2px solid rgb(139, 137, 137);
    padding-bottom: 10px;
    padding-top: 10px;
}

.text-35 {
    border-top: 2px solid rgb(139, 137, 137);
    padding-bottom: 10px;
    padding-top: 10px;
}

.text-36 {
    display: block;
    width: 400px;
    position: relative;
    left: 360px;
    bottom: 20px;
}

.pd-l-208 {
    padding-left: 208px;
}

.pd-l-100 {
    padding-left: 20px;
}

.t-10 {
    position: relative;
    top: 10px;
}

.pd-l-194 {
    padding-left: 194px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
    .preview {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .preview {
        width: 25%;
    }
}
