/* GLOBAL STYLES */
nav, ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#main {
    width: 1200px;
    margin: 0 auto;
    background-color:bisque;
}

#main-navigation li a {
    text-decoration: none;
}

#main-navigation li a:hover {
    color: green;
}

#submenu {
    display: none;
    position: absolute;
    flex-direction: column;
}
