/* GLOBAL TAG STYLES */
header {
    display: flex;
}

#container {
    width: 1200px;
    margin: 0 auto;
    background-color:beige;
}

nav, ul {
    list-style: none;
}

#main {
    background-color:rgb(223, 217, 211);
}


/* CUSTOM GLOBAL STYLES */
.flex {
    display: flex;
}

/* ширина */
.w-full {
    width: 100%;
}

.w-20 {
    width: 70%;
    display: block;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

/* высота */
.h-50 {
    height: 50px;
}

/* тут пишем отступы */
.ml-5 {
    margin-left: 15px;
}

/* цвета */
.back-blue {
    background-color: rgb(143, 246, 246);
}

.text-red {
    color: red;
}

.text-blue {
    color: rgb(79, 79, 209);
}

.text-olive {
    color: olive;
}



/*  second navigation */
#topbar {
	display: flex;
	background: #3B5D80;
}

#topbar > li {
    width: 10%;
    padding: 10px 0;
    position: relative;
    text-align: center;
}

#topbar > li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;  
}

#topbar > li:hover {
	background: #304963;
}

.drop {
    width: 100%;
    background-color:#ccc;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.drop > li {
    padding: 10px 0;
}

.drop > li:hover {
    background-color: rgb(96, 131, 197);
    cursor: pointer;
}


.logotype {
    width: 25%;
}

.menu {
    width: 65%;
    text-align: center;
}

.auth {
    width: 10%;
}



.preview-screen {
    width: 100%;
    /* border: solid 1px black; */
}

.new-items {
    width: 100%;
    /* border: solid 1px black; */
}

.book-galery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* .book-galery > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    background-color: white;
    text-align: center;
    font-size: 20px;
} */

.wdh-25 {
    width: 25%;
    background-color: rgb(214, 153, 153);
}

.book-galery > div > h3 {
  text-align: center;
  width: 100%;
  color: lightseagreen;
}


.p-in-bg {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: rgb(117, 75, 140);
}



/* Самостоятельная работа 1 */
/* Внутри тега ниже воспроизвести (пока что примерно) всё содержимое со скриншота (он внутри pictures) */
/* ***************ТЕОРИЯ*************** */
/* TRANSITION */
/* Основная документация: 
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-property
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-duration
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-timing-function
    https://developer.mozilla.org/en-US/docs/Web/CSS/transition-delay

    Запись transition в одну строку => https://developer.mozilla.org/en-US/docs/Web/CSS/transition
*/

/* 
    linear - одна скорость
    ease-in - ускоряется
*/

/* for example transition */
.example {
    font-size: 14px;
    /* 
        1. что меняем,
        2. за какое время, если не указано =0
        3. задержка, если не указана =0
        4. временная функция перехода
    */
    transition: font-size 4s 2s easy-in-out;
}
  
.example:hover {
    font-size: 36px;
}


/*  TRANSFORM */
/* for example transform */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transforms/Using_CSS_transforms */
.trance-container {
    position: relative;
    height: 183px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.transformed-block-1 {
    transform: rotate(90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 0;
}

.transformed-block-2 {
    transform: rotate(270deg);
    transform-origin: bottom right;
    position: absolute;
    right: 0;
}

.transformed-block-3 {
    transform: rotate(180deg);
    transform-origin: top;
    position: absolute;
    top: 0;
}

.transformed-block-4 {
    transform: rotate(360deg);
    transform-origin: bottom right;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

/* ANIMATION */
/* 
    Основная документация:
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations

*/
@keyframes slideIn {
    from {
        margin-left: 100%;
        width: 100%;
    }
  
    to {
        margin-left: -50%;
        width: 100%;
    }
}

.animation-example-1 {
    animation-duration: 5s;
    animation-name: slideIn;
    animation-iteration-count: infinite;
}


@keyframes slideInSingle {
    from {
        margin-top: 100%;
        width: 100%;
    }
  
    to {
        margin-top: 20%;
        width: 100%;
    }
}

.animation-example-2 {
    position: relative;
}

.animation-example-2 > div {
    margin-top: 20%;
    position: absolute;
    background-color: #14a16b;
    animation-duration: 3s;
    animation-name: slideInSingle;
    /* можно ставить цифру для количества повторов анимации */
    animation-iteration-count: 1;
    width: 100%;
    color: aqua;
    text-align: center;
    font-size: 30px;
}

.change-color-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-color {
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 3s linear;
}

.change-color:hover {
    color:rgb(186, 14, 249);
}

.p1 {
    animation-duration: 3s;
    animation-name: slidein;
    width: 50%;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }

      75%{
        font-size: 150%;
        margin-left: 25%;
        width: 150%;
      }
      
}

.square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
    text-align: center;
}

.square:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
    background-color: aqua;
}

.cl-tx {
    background-color: #fff700;
}

.big-practice-1 {
    width: 100%;
    background-color: #fff;
    display: flex;
}

.practice-1-main-content {
    width: 65%;
    padding: 5px;
}

.practice-1-main-content > h3 {
    margin-left: 15px;
    font-weight: bold;
}

.practice-1-main-content > .example-code {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 110px;
}

.example-code > p > span {
    margin-left: 1px;
    margin-right: 1px;
}

.test-2 {
    background-color: aquamarine;
    border-bottom: 1px solid rgb(9, 185, 118);
}

.test-3 {
    background-color: rgb(255, 255, 176);
    border-left: 5px solid rgb(179, 179, 32);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 5px;
}

.practice-1-navigation {
    width: 35%;
}

.navigation {
    float:right;
    background-color: rgb(193, 203, 203);
    padding: 10px;
    font-size: 15px;
}

.test-hover {
    font-weight: bold;
    padding-left: 4px;
}

.hooks {
    float:right;
}

.decoration {
    text-decoration: none;
    transition: color 0s linear;
    color: #525252;
}

.decoration:hover {
    color:black;
    border-left: 4px solid rgb(0, 187, 255);
    font-weight: bold;
    padding-left: 4px;
    position: relative;
}

.decoration-2:hover {
    border-left: 4px solid rgb(0, 187, 255);
    padding-left: 4px;
    position: relative;
}

.pad {
    padding-top: 25px;
}

.rounded-black {
    width: 30px;
    height: 30px;
    border-radius: 9999px;
}



/* Самостоятельная работа 2 */

.big-practice-2 {
    background-color:#e6f8ff;
    width: 80%;
    color: #313131;
    height: 834px;
}

.fatty-text {
    font-size: 30px;
}

.text-pd {
    padding-left:190px;
    font-size: 25px;
    padding-top: 15px;
}

.centre {
    padding-left: 170px;
    margin-top:-20px;
}

.text-1 {
    width: 25%;
}

.text-w {
    font-size: 18px;
    color: #000;
    font-weight:bold;
    margin-bottom:20px;
    line-height: 2.5;
}

.fn-w {
    font-weight: 600;
    color: #000;
}

.text-2 {
    left: 296px;
    position: relative;
    bottom: 228px;
    width: 25%;
}

.text-2-1 {
    font-size: 18px;
    font-weight:bold;
    color: #000;
    display: block;
    line-height: 2.5;
}

.color-text {
    color: #000;
    font-size: 18px;
}

.fn-sz-23 {
    font-size: 23px;
}

.l-h {
    line-height: 2.5;
}

.text-3 {
    bottom: 195px;
    position: relative;
    width: 40%;
    display: inline-block;
}

.text-3-1 {
    width: 60%;
    display: block
}

.panda {
    bottom: 170px;
    position: relative;
    background-color: rgb(210, 232, 255);
    width: 65%;
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 20px;
}

.pad-l-85 {
    padding-left: 85px;
}

.black {
    color: #000;
}

.bt-l {
    bottom: 102px;
    left: 289px ;
    position: relative;
}

.red-fw {
    color: red;
    font-weight: bold;
}

.w-37 {
    width: 32%;
    text-align: center;
    left: 24px;
    position: relative;
    bottom: 3px;
  }


.l {
    left: 368px ;
    position: relative;
    bottom: 39px;
    width: 28%;
    text-align: center;
}

.pd-l-20 {
    padding-left: 20px;
}

.w-252 {
    width: 252px;
}

.left-site {
    background-color: rgb(255, 255, 255);
    width: 20%;
}

.grass {
    width: 30%;
    height: 23px;
    bottom: 680px;
    left: 700px;
    position: relative;
    z-index: 1;
}

.grass-1 {
    width: 30%;
    height: 23px;
    bottom: 680px;
    left: 690px;
    position: relative;
    z-index: 1;
}

.grass-2 {
    width: 30%;
    height: 23px;
    bottom: 680px;
    left: 680px;
    position: relative;
    z-index: 1;
}

.grass-3 {
    width: 30%;
    height: 23px;
    bottom: 707px;
    left: 850px;
    position: relative;
    z-index: 1;
}

.panda-2 {
    width: 80%;
    bottom: 922px;
    position: relative;
    left: 780px;
  }

.grass-4 {
    width: 30%;
    height: 23px;
    bottom: 707px;
    left: 813px;
    position: relative;
    z-index: 1;
}

.grass-5 {
    width: 30%;
    height: 24px;
    bottom: 727px;
    left: 530px;
    position: relative;
}

.grass-6 {
    width: 30%;
    height: 24px;
    bottom: 734px;
    left: 650px;
    position: relative;
    z-index: 2;
}

.grass-7 {
    width: 30%;
    height: 24px;
    bottom: 734px;
    left: 569px;
    position: relative;
    z-index: 2;
}

.text-4 {
    width: 130px;
    background-color: rgb(255, 255, 255);
    bottom: 1079px;
    position: relative;
    left: 632px;
    margin-top: -23px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.fn-sz-18 {
    font-size: 18px; 
}

.fn-w-2 {
    font-weight: bold;
} 


.girl {
    width: 120px;
    bottom: 1037px;
    left: 650px;
    position: relative;
    margin-top: 40px;
}

.bt-l-2 {
    bottom: 1125px;
    left: 650px;
    position: relative;
}

.fn-sz-3 {
    font-size: 10px;
    z-index: 1;
}

.text-5 {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    width: 170px;
    bottom: 1156px;
    position: relative;
    left: 770px;
    padding-top: 0px;
    padding-bottom: 51px;
}

.photoshop {
    background-color: rgb(64, 64, 64);
    width: 267px;
    height: 180px;
    bottom: 1108px;
    position: relative;
    left: 674px;

}

.white {
    color: #ffffff;
}

.pd-l-4 {
    padding-left:20px;
}

.clr {
    color: #ccc;
    padding-left: 20px;
}

.photoshop-plagin {
    background-color: #a3a3a3;
    color: white;
    z-index: 2;
    width: 210px;
    height: 23px;
    position: relative;
    left: 28px;
    margin-top: 20px;
    text-align: center;
}

.create {
    background-color: rgb(210, 232, 255);
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 20px;
    bottom: 1072px;
    position: relative;
    left: 710px;
}

.color-text-girl {
    color: red;
    text-align: center;
}

.advertising {
    background-color: orange;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 140px;
    height: 18px;
    padding-top: 7px;
    border-radius: 5px 0px 5px 0px;
    bottom:  1416px;
    position: relative;
    left: 800px;
    font-size: 10px;
}

.w-20-1 {
    width: 20%;
}

.text-green {
    color: rgb(87, 240, 143);
}

.line {
    display: inline-block;
    width: 740px;
}

.indent {
    position: relative;
    left: 10px;
}

.bottom-indent-20 {
    bottom: 20px;
    position: relative;
}

.bottom-indent-30 {
    bottom: 30px;
    position: relative;
}

.bottom-indent-40 {
    bottom: 40px;
    position: relative;
}


.preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    font-size: 20px;
}



/* Самостоятельная работа 3 */


/* Самостоятельная работа 4 */


/* Самостоятельная работа 5 */



/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
    .preview {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .preview {
        width: 25%;
    }
}
